[build]
  command = "npm install && npx @11ty/eleventy"
  publish = "_site"

[build.environment]
  NODE_VERSION = "20"

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml; charset=UTF-8"

[[headers]]
  for = "/robots.txt"
  [headers.values]
    Content-Type = "text/plain; charset=UTF-8"
